*, ::after, ::before{
  box-sizing: border-box;
}


.sfondo{
  background: rgb(46, 63, 87);
 
 
}



#logo{
  


  
}




#sidenav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 230px;
  flex-flow: column nowrap;
  align-items: flex-start;
  background-color: black;
  z-index: 1200;
}
